/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: rgba(255, 194, 230, 1);
  --decor__element-color: rgba(53, 52, 48, 1);
  --accent-color: #FF8DCB;
  --color__shadow: #FF0070;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --outline-color: 1px solid rgba(53, 52, 48, 0.4);
  --rec-color: transparent;
  --background-image: url(../images/cover-image-light.png);
  --menu__button-color: #353430;
  --section-color: #353430;
  --text-negativ-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: rgba(255, 194, 230, 1);
    --decor__element-color: rgba(53, 52, 48, 1);
    --accent-color: #FF8DCB;
    --color__shadow: #FF0070;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --outline-color: 1px solid rgba(53, 52, 48, 0.4);
    --rec-color: transparent;
    --background-image: url(../images/cover-image-light.png);
    --menu__button-color: #353430;
    --section-color: #353430;
    --text-negativ-color: #353430;
  }
}
