/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  inline-size: 100%;
  padding-inline: 20px;
  font-family: 'IBM Plex mono', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  min-height: max(100vh, 768px);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 0px;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--decor__element-color);
  border-width: 1px 1px 0 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-end: 20px;
  inset-inline-start: 1px;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--decor__element-color);
  border-width: 0 0 1px 1px;
}

.header__decor-element {
  position: absolute;
  inset-inline-end: 30px;
  inset-block-start: 20px;
  display: flex;
}

.header__decor-element::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--rec-color);
  line-height: 25px;
}

.header__decor-element::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  color: var(--rec-color);
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
  inset-block-start: 8px;
  inset-inline-end: -20px;
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: grid;
  justify-content: center;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 10px;
  justify-content: center;
}

.header__theme-menu-item {
  background-color: transparent;
  font-weight: 400;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 2.5px 13px 2.5px 13px;
  border: none;
  color: var(--menu__button-color);
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  appearance: none;
}

.header__theme-menu-button_active {
  border: var(--menu__button-color) solid 1px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: var(--outline-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__title {
  text-shadow: 4px 4px 0 var(--color__shadow);
  margin-block-start: 273px;
  margin-inline-start: -20px;
}

.header__subtitle {
  max-inline-size: 491px;
  margin-block-start: 114px;
  margin-block-end: 134px;
}

.title-decor {
  color: var(--text-negativ-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  justify-self: end;
  align-self: center;
  inline-size: 100%;
}

.main {
  margin-block-start: 60px;
  display: grid;
  gap: 80px;
}

.card {
  display: grid;
  gap: 20px;
}

.card__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: start;
}

.card-column > .card__item {
  display: grid;
  grid-column: 2 / 4;
  row-gap: 10px;
}

.card__title {
  color: var(--section-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  max-inline-size: 315px;
}

.card__item-title {
  font-weight: 700;
  font-size: 18px;
}

.card__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color);
}

.card-reducers > .card__title {
  display: grid;
  grid-column: 1 / 4;
}

.card-reducers > .card__item {
  max-inline-size: 315px;
}

.card > .card__title {
  grid-row: span 2;
}

.title-decor-light {
  color: var(--text-negativ-color);
  background-color: var(--accent-color);
  font-weight: 400;
  line-height: 23px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.picture-gallery {
  margin-block-start: -20px;
  padding-block-end: 60px;
}

.picture-image-gallery {
  display: grid;
  gap: 20px;
  padding-block-start: 20px;
}

.picture-image-gallery img {
  display: grid;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.picture-image-gallery__item:nth-child(1) {
  grid-column: span 2;
}

.picture-image-gallery__item:nth-child(2) {
  grid-column: 3;
  grid-row: span 2;
}

.picture-image-gallery__item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.picture-image-gallery__item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.picture-image-gallery__item:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

.footer {
  position: relative;
  align-content: center;
  text-align: center;
  display: grid;
  padding-block: 20px;
  min-block-size: 768px;
  block-size: 100vb;
}

.caption {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--color__shadow);
}

.article-padding {
  margin-bottom: 15px;
}
.article-subtitle {
  margin-bottom: 10px;
}

@media (375px <= width < 1024px) {

  .header__theme-menu {
    justify-content: end;
    margin-block-start: 75px;
    align-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: none;
    align-items: center;
    row-gap: 12px;
  }

  .header__theme-menu-button {
    padding: 3px 13px 3px 13px;
  }

  .card-column > .card__title {
    grid-row: span 2;
  }

  .card-reducers > .card__item {
    max-inline-size: 100%;
  }

  .card-reducers > .card__item-title {
    max-inline-size: 100%;
  }

  .card-reducers > .card__item-text {
    max-inline-size: 100%;
  }
}

@media (375px <= width < 768px) {
  .page {
    padding-inline: 10px;
  }

  .header {
    min-block-size: 668px;
  }

  .decorated-zone::after {
    inset-block-start: 9px;
  }

  .decorated-zone::before {
    inset-block-end: 9px;
  }

  .header__decor-element {
    inset-inline-end: 29px;
    inset-block-start: 9px;
  }

  .header__title {
    margin-block-start: 65px;
    margin-inline-start: 0;
  }

  .caption {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }

  .header__subtitle {
    max-inline-size: 355px;
    margin-block-start: 55px;
    margin-block-end: 66px;
  }

  .main {
    margin-block-start: 40px;
    gap: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card__title {
    max-inline-size: 100%;
  }

  .picture-gallery {
    margin-block-start: 0;
    padding-block-end: 40px;
  }

  .picture-image-gallery {
    gap: 11px;
    padding-block-start: 10px;
  }

  .picture-image-gallery__item:nth-child(1),
  .picture-image-gallery__item:nth-child(2),
  .picture-image-gallery__item:nth-child(3),
  .picture-image-gallery__item:nth-child(4),
  .picture-image-gallery__item:nth-child(5) {
    grid-column: span 1;
    grid-row: auto;
  }

  .footer {
    min-block-size: 668px;
  }
  
}

@media (768px <= width < 1024px) {

  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    margin-block-start: 192px;
  }

  .header__title {
    margin-block-start: 173px;
  }

  .header__subtitle {
    max-inline-size: 364px;
    margin-block-start: 162px;
  }

  .caption {
    line-height: 99px;
  }

  .card__title {
    max-inline-size: 236px;
  }

  .card-reducers {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    min-block-size: 1024px;
  }
}