/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --text-negativ-color: #000028;
  --background-color: #000028;
}